@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf');
}

:root {
    /* COLORS */
    --black: #121212;
    --white: #f5f5f5;
    --grey: #e0e0e0;
    --red: #b50c00;

    /* FONT FAMILY */
    --Inter: 'Inter', san-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--Inter);
}

.wrapper {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 400px;

    padding: 10px 20px 20px 20px;
}

.title {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: var(--Inter);
    font-weight: 900;
}

.divider {
    border: 1px solid var(--grey);
    margin-bottom: 10px;
}

.toggle-section {
    margin-bottom: 20px;
}

.add-page-button {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 30px;
    border: 2px solid var(--black);
    margin-bottom: 20px;
    font-family: var(--Inter);
    font-size: 15px;
}

.add-page-button:hover {
    background-color: var(--black);
    color: var(--white);
}

.site-list-title-container {
    text-align: center;
    margin-bottom: 10px;
}

.site-list-title {

}

.site-list {
    
}

.site-list li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
    gap: 7px;
}

.favicon {
    width: 16px;
    height: 16px;
}

.delete-button {
    background: none;
    border: none;
    opacity: 0.5;
    font-size: 15px;
    margin-left: auto;
}

.delete-button:hover {
    color: var(--red);
    opacity: 1;
}